{{define "footer"}}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">I don't know if I know what I'm doing.</span>
        </div>
    </footer>
{{end}}

